Lib/*.lib
*Debug*
*Release*
*.sdf
*.suo
*.suosrc/*/*.o
src/*/*.o
src/*/*.lo
src/*/.libs
src/*/.deps
*Makefile
*Makefile.in
src/*/lib*.la
aclocal.m4
autom4te.cache
compile
config.*
depcomp
install-sh
ltmain.sh
m4/*
missing
configure
fyba.pc
libtool
stamp-h1

